<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <meta charset="UTF-8" lang="kr">
    <title>나의 일기장</title>
    <link rel="stylesheet" type="text/css" href="./css/all_fonts.css" />
    <link rel="stylesheet" type="text/css" href="./css/ccash_style.css" />
</head>
<body>
    <h2>게시글 리스트</h2>

    <div id="content-wrap">
        <aside>
            <h2>여기엔 달력 또는 목록을 표시하도록 하고</h2>
            <ul id="chapter">
            </ul>
        </aside>
        <hr>
        <section id="contents">
        <% for(i = 0; i < data.length; i++) { %>
            <article id=<%- data[i].title.replaceAll(' ', '_'); %>>
            <h2><%- data[i].title %></h2>
            <span class="date_written"><%- data[i].wrdate %></span>
            <p><%- data[i].content %></p>
            </article>
        <% } %>
        </section>
    </div>
</body>

<script>    /* 목록 자동 만들기 */
window.onload = function main() {
    let dom_chapter = document.getElementById("chapter");
    let articles = document.getElementsByTagName("article");
    for (var i=0; i<articles.length; i++) {
    let subject = articles[i].getElementsByTagName("h2");
    let new_chaper = document.createElement("li");
    new_chaper.innerHTML = "<a href='#"+articles[i].id+"' class='active'>"+subject[0].innerHTML+"</a>";
    dom_chapter.append(new_chaper);
    }
}
</script>
</html>
