/* =========================================== */
/* THIS FILE IS FOR MOBILE-Browser size screen */
/*      192 DPI over Hi-resolution device      */
/*      192 DPI 이상의 초고해상도 기기 대응      */
/* =========================================== */

@media (min-resolution: 192dpi) {
  /* 모바일 브라우저 용 - 해상도에 따라, 고해상도 모바일 디바이스에 대응. */
  * {
    margin: 0; padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "NEXON Lv2 Gothic", Helvetica, Arial, sans-serif;
    color: #58666e;
    background-color: #f0f3f4;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjus: 100%;  /* iphone font size 변경 방지 */
  }
  /* Simple Reset CSS */
  li { list-style: none; }
  a { text-decoration: none; text-decoration-line: none; }
  h1, h2, h3, h4, h5, h6, p {
    margin: 10px 5px;
  }
  h1 { font-size: 1.8em; }

  #wrap {
    width: 100%;
    margin-top: 60px;         /* margin-top = header height */
  }

  /* Navigation bar */
  header {
    position: fixed;          /* for sticky header */
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 2000;
    background-color: #DDC;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 2px 0 rgba(0, 0, 0, 0.05);
    border: 3px solid #2F3EAD;
  }
  .logo {
    display: inline-block;
    height: 80px;
    margin: 8px 8px 8px 40px;
  }
  .logo > img { height: 80px; }
  nav {
    float: right;
  }
  .nav-items {
    margin-right: 20px;
    font-size: 3.0em;
  }
  .nav-items > li {
    display: inline-block;  /* 가로정렬 */
  }
  .nav-items > li > a {
    /* for Vertical Centering */
    /* line-height: 40px; */
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.4);
  }
  .nav-items > li > a:hover {
    color: rgba(0, 0, 0, 0.8);
  }

  /* contents */
  #content-wrap {
    background-color: rgb(237, 255, 237);
    /* display: block; */
    width: 160%;
  }
  aside {
    background-color: #444;
    display: none;
  }
  /* Section */
  article {
    margin: 40px;
    padding: 20px;
    background-color: white;
    font-size: 1.4em;
  }
  article h2 {
    font-size: 1.8em;
  }
  article .control_block {
    text-align: right;
  }
  article .date_written {
    margin: 6px;
    color: #888;
    background-color: #DDD;
    font-size: 0.6em;
  }
  article pre {
    background-color: rgb(230, 222, 207);
    padding: 20px 20px;
    font-size: 2.0em;
  }
  article .btn {
    /* float: right; */
    border-radius: 8px;
    background-color: rgb(119, 199, 231);
  }
  article .btn:hover {
    background-color: rgb(75, 132, 255);
  }
  /* footer */
  footer {
    /* footer를 aside위에 올리기 위해 사용(부유객체) */
    /* position: fixed; */
    /* font-family: 'sans-serif'; */
    position: absolute;
    height: 36px;
    width: 100%;
    padding: 0 12px;
    line-height: 40px;
    color: #888;
    border-top: 1px solid #dee5e7;
    background-color: #EEE;
  }4
}
